---
import Layout from "../../layouts/Layout.astro";
import { getAllBlogPosts } from "../../services/getBlogPosts";

export async function getStaticPaths() {
  const blogPosts = await getAllBlogPosts();
  return blogPosts?.map((post) => {
    return {
      params: { slug: post.slug },
    };
  });
}

const { slug } = Astro.params;
---

<Layout title="Liceo Nibaldo | Noticias">
  <h1>Noticias!</h1>
  {slug}
</Layout>
