---
import Layout from "../../layouts/Layout.astro";
import type { BlogPost } from "../../models/blogPost";
import { getAllBlogPosts } from "../../services/getBlogPosts";

export async function getStaticPaths() {
  const blogPosts = await getAllBlogPosts();
  return blogPosts?.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: { post },
    };
  });
}

const { post } = Astro.props as { post: BlogPost };
---

<Layout title="Liceo Nibaldo | Noticias">
  <header class="container mx-auto">
    <div class="flex flex-col gap-2">
      <img
        class="rounded-md shodow-md"
        width={350}
        src={post.featuredImage.url}
        alt=""
      />
    </div>
  </header>
</Layout>
