---
import Footer from "../components/Footer.astro";
import ResourceBadge from "../components/ResourceBadge.astro";
import SectionTitle from "../components/SectionTitle.astro";
import TextTitle from "../components/TextTitle.astro";
import UnderlineText from "../components/UnderlineText.astro";
import Layout from "../layouts/Layout.astro";

const material = [
  {
    name: "Rúbrica Infografía",
    link: "https://docs.google.com/document/d/12tap3tER8kmBzH1B8Izm2PBbTv2D64F9/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica trabajos prácticos individuales",
    link: "https://docs.google.com/document/d/1GT1MmWJNuV_ua35q4hjlV2X9pKbS19Wm/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica para trabajos prácticos maqueta",
    link: "https://docs.google.com/document/d/1aQ7OV4XEZ4oW9bZO7G4nB_PAuCwVQElE/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica para informes escritos",
    link: "https://docs.google.com/document/d/1RRZW-FxYr_-weUSOvyeBsWp-Xl_koZRI/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica para exposiciones orales",
    link: "https://docs.google.com/document/d/11m-N4oM_n7dvnOPyuvquMfK-gdSN1iAS/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica para evaluación valórica",
    link: "https://docs.google.com/document/d/1M-c-ngdiNy_zPsF_2DlPMFZONHLS2WQA/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Modelo de prueba",
    link: "https://docs.google.com/document/d/1WH5HGWE5wgdVpLV-cZmNUa2lK4JdUIcd/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Lista de Cotejo Laboratorio",
    link: "https://docs.google.com/document/d/1lTGVEOZO7m1Va6Q5vBIXdS7DbMoM2w_Z/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Membrete Word Guías",
    link: "https://docs.google.com/document/d/1AaqVll5R8ZcfeOlN_jOaol373pMOEQ7F/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
];
---

<Layout title="Material Pedagógico">
  <header class="container mx-auto px-4 pt-12 md:pt-0 pb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center my-10">
      <TextTitle
        overTitle="Nuestros"
        title="Documentos "
        gradientText="institucionales"
        description="Sigue bajando para revisar nuestros documentos institucionales, rúbricas internas, planes normativos, proyecto educativo, entre otros."
      />
    </div>
  </header>

  <div class="container mx-auto px-4 py-24">
    <div class="py-12">
      <SectionTitle>
        Planes
        <UnderlineText>Normativos</UnderlineText>
      </SectionTitle>
      <p class="text-center my-6 text-lg">
        Nuestros planes normativos están integrados con nuestro PME y le dan
        forma a nuestro PEI.
      </p>
    </div>
    <div class="py-12 grid grid-cols-1 gap-4">
      {material.map((m) => <ResourceBadge link={m.link} name={m.name} />)}
    </div>
  </div>

  <div class="container mx-auto px-4 py-24">
    <div class="py-12">
      <SectionTitle>
        Rúbricas
        <UnderlineText>Institucionales</UnderlineText>
      </SectionTitle>
      <p class="text-center my-6 text-lg">
        Descarga las rúbricas para distintos tipos de actividades
      </p>
    </div>
    <div class="py-12 grid grid-cols-1 gap-4">
      {material.map((m) => <ResourceBadge link={m.link} name={m.name} />)}
    </div>
  </div>

  <div class="container mx-auto px-4 py-12">
    <Footer />
  </div>
</Layout>
