---
import Layout from "../layouts/Layout.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>Astro</title>
  </head>
  <body>
    <Layout title="Inicio">
      <h1 class="text-3xl font-bold underline">¡Hola, mundo!</h1>
    </Layout>
  </body>
</html>
