---
import Layout from "../layouts/Layout.astro";
import TextTitle from "../components/TextTitle.astro";
import StatIndicator from "../components/StatIndicator.astro";
import SectionTitle from "../components/SectionTitle.astro";
import UnderlineText from "../components/UnderlineText.astro";
import TextCard from "../components/TextCard.astro";
import EventCard from "../components/EventCard.astro";
import FooterArticle from "../components/FooterArticle.astro";
import Info from "../components/Info.astro";
import { MENU_ITEMS } from "../config/menuItems";
---

<Layout title="Liceo Nibaldo Sepúlveda Fernández">
  <!-- HERO -->
  <div class="container mx-auto pt-12 md:pt-0 pb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <TextTitle />
      <img class="hidden md:block" src="/header_img.png" alt="" />
    </div>
  </div>

  <!-- DIVIDER -->
  <div class="bg-lnsf-blue py-6 md:py-14">
    <div class="container mx-auto">
      <div
        class="grid grid-cols-1 divide-y md:divide-y-0 md:divide-x divide-white/25 md:grid-cols-2 lg:grid-cols-4 items-center justify-center"
      >
        <StatIndicator number={700} text="Libros en la biblioteca" />
        <StatIndicator number={1.1} text="Profesionales por alumno" />
        <StatIndicator number={30} text="Alumnos en carreras univ." />
        <StatIndicator number={10} text="Programas de ayuda social" />
      </div>
    </div>
  </div>

  <!-- INTRO -->
  <div class="container mx-auto py-24">
    <div class="py-12">
      <SectionTitle
        >Bienvenidos al
        <UnderlineText>Nibaldo</UnderlineText>
      </SectionTitle>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 py-12">
      <TextCard
        title="Artes"
        body="La educación artística y musical es fundamental para el desarrollo integral de las personas, ya que promueve la creatividad, la expresión y la empatía, además de ser una forma de entretenimiento y disfrute."
      />
      <TextCard
        title="Vida Sana"
        body="Educar sobre los hábitos de una vida sana y el deporte es importante para fomentar la salud y el bienestar físico y mental, y puede contribuir a prevenir enfermedades y mejorar la calidad de vida de las personas."
      />
      <TextCard
        title="Humanista"
        body="La educación científico-humanista fomenta el desarrollo de habilidades como el pensamiento crítico y el razonamiento lógico, además de promover la comprensión y el respeto hacia los demás y el mundo que nos rodea."
      />
      <TextCard
        title="Bicentenario"
        body="Pertenecer a la red de liceos bicentenarios ofrece a los estudiantes una educación de alta calidad y prestigio, y les brinda la oportunidad de formarse como personas íntegras y críticas, capaces de enfrentar los retos del mundo actual."
      />
    </div>
  </div>

  <!-- CALENDAR -->
  <div class="container mx-auto py-24">
    <div class="py-12">
      <SectionTitle
        >Calendario de
        <UnderlineText>Actividades</UnderlineText>
      </SectionTitle>
      <p class="text-center my-6 text-lg">
        ¡No te pierdas ninguna novedad! Revisa nuestro sitio regularmente.
      </p>
      <div class="grid grid-cols-2 py-12">
        <!-- IMAGES -->
        <img src="/activities_img.png" alt="" />

        <!-- CARDS -->
        <div class="grid grid-cols-1 gap-2 -translate-x-44">
          <EventCard
            title="Salida a la montaña en familia"
            category="Convivencia Escolar"
            date="22 de Diciembre"
            time="12:00"
          />
          <div class="-translate-x-14">
            <EventCard
              title="Brindis con los profesores"
              category="Convivencia ssd"
              date="31 de Febrero"
              time="16:00"
            />
          </div>
          <EventCard
            title="Brindis con los profesores"
            category="Convivencia ssd"
            date="31 de Febrero"
            time="16:00"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="container mx-auto py-12">
    <SectionTitle>
      ¿Qué esperas?
      <UnderlineText>¡Únete al Nibaldo!</UnderlineText>
    </SectionTitle>

    <div class="grid grid-cols-3 gap-4 mt-24">
      <!-- 1 -->
      <div>
        <h4 class="font-bold mb-10 text-3xl">Conversemos</h4>
        <div class="flex flex-col gap-6">
          <Info
            icon="/svgTelephone.png"
            title="Teléfono"
            info="200 300 24 24"
          />
          <Info
            icon="/svgTime.png"
            title="Horario de atención"
            info="Lun - Vie | 8:30 - 18:00"
          />
          <Info
            icon="/svgPin.png"
            title="Ubicación"
            info="San Martín 386, Portezuelo"
          />
        </div>
      </div>
      <!-- 2 -->
      <div>
        <h4 class="font-bold mb-10 text-3xl">Algunos Links</h4>
        <div class="flex flex-col gap-1">
          {
            MENU_ITEMS.map((item) => {
              return (
                <div class="flex gap-2">
                  <span class="text-lnsf-blue">---</span>
                  <p>{item.title}</p>
                </div>
              );
            })
          }
        </div>
      </div>

      <!-- 3 -->
      <div class="flex flex-col gap-2">
        <h4 class="font-bold mb-10 text-3xl">Noticias</h4>
        <FooterArticle
          title="Brindis en el nibaldo"
          date="12 de Agosto, 2022"
        />
        <FooterArticle title="Otro artículo" date="24 de Julio, 2022" />
      </div>
    </div>
  </div>
</Layout>
