---
import Layout from "../layouts/Layout.astro";
import TextTitle from "../components/TextTitle.astro";
import StatIndicator from "../components/StatIndicator.astro";
import SectionTitle from "../components/SectionTitle.astro";
import UnderlineText from "../components/UnderlineText.astro";
import TextCard from "../components/TextCard.astro";
import NewsCalendar from "../components/NewsCalendar.astro";
import Footer from "../components/Footer.astro";
import { stats } from "../services/getStatistics";
import { config } from "../services/getConfig";
---

<Layout title="Inicio">
  <header class="container mx-auto px-4 pt-12 md:pt-0 pb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <TextTitle
        overTitle=""
        title="Líderes del "
        gradientText="futuro"
        description="Ofrecemos una educación de calidad y un ambiente de aprendizaje inclusivo y estimulante"
      />
      <img class="hidden md:block" src="/header_img.jpg" alt="" />
    </div>
  </header>

  <div class="bg-lnsf-blue py-6 md:py-14">
    <div class="container mx-auto px-4">
      <div
        class="grid grid-cols-1 divide-y md:divide-y-0 md:divide-x divide-white/25 md:grid-cols-2 lg:grid-cols-4 items-center justify-center"
      >
        {
          stats.map((stat) => {
            return (
              <StatIndicator number={stat.statQuantity} text={stat.statName} />
            );
          })
        }
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4 py-24">
    <div class="py-12">
      <SectionTitle>
        Bienvenidos al
        <UnderlineText>Nibaldo</UnderlineText>
      </SectionTitle>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 py-12">
      {
        config.institutionalSeals.map((item) => {
          return <TextCard title={item.name} body={item.description} />;
        })
      }
    </div>
  </div>

  <div class="container mx-auto px-4 py-24">
    <div class="py-12">
      <SectionTitle>
        Calendario de
        <UnderlineText>Actividades</UnderlineText>
      </SectionTitle>
      <p class="text-center my-6 text-lg">
        ¡No te pierdas ninguna novedad! Revisa nuestro sitio regularmente
      </p>
      <div class="grid grid-cols-1 lg:grid-cols-2 py-12">
        <NewsCalendar />
      </div>
    </div>
  </div>

  <div class="container px-4 mx-auto py-12">
    <SectionTitle>
      ¿Qué esperas?
      <UnderlineText>¡Únete al Nibaldo!</UnderlineText>
    </SectionTitle>
    <Footer />
  </div>
</Layout>
