---
import TextTitle from "../components/TextTitle.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Material Pedagógico">
  <header class="container mx-auto px-4 pt-12 md:pt-0 pb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <TextTitle
        overTitle="Nuestro"
        title="Material "
        gradientText="pedagógico"
        description="En este sección puedes descargar una selección de nuestro material pedagógico... pronto"
      />
    </div>
  </header>
</Layout>