---
import ResourceBadge from "../components/ResourceBadge.astro";
import SectionTitle from "../components/SectionTitle.astro";
import TextTitle from "../components/TextTitle.astro";
import UnderlineText from "../components/UnderlineText.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Material Pedagógico">
  <header class="container mx-auto px-4 pt-12 md:pt-0 pb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center my-10">
      <TextTitle
        overTitle="Nuestro"
        title="Material "
        gradientText="pedagógico"
        description="En este sección puedes descargar una selección de nuestro material pedagógico... pronto"
      />
    </div>
  </header>

  <div class="container mx-auto px-4 py-24">
    <div class="py-12">
      <SectionTitle>
        Rúbricas
        <UnderlineText>Institucionales</UnderlineText>
      </SectionTitle>
      <p class="text-center my-6 text-lg">
        Descarga las rúbricas para distintos tipos de actividades
      </p>
    </div>
    <div class="py-12">
      <ResourceBadge  />
    </div>
  </div>
</Layout>
