---
import Footer from "../components/Footer.astro";
import ResourceBadge from "../components/ResourceBadge.astro";
import SectionTitle from "../components/SectionTitle.astro";
import TextTitle from "../components/TextTitle.astro";
import UnderlineText from "../components/UnderlineText.astro";
import Layout from "../layouts/Layout.astro";

const material = [
  {
    name: "Rúbrica de ejecuciones educación física",
    link: "https://docs.google.com/document/d/12GjUeaR9s7TG6NYQpollZdtTC55mywM8/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica Infografía",
    link: "https://docs.google.com/document/d/1C6PZQcrgUvkpZbZhe8HwlPm0wnddhWDC/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica trabajos prácticos individuales",
    link: "https://docs.google.com/document/d/1ykyLn3DJQ_2qQfsOObaIaVUkU09cIjeP/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica para trabajos prácticos maqueta",
    link: "https://docs.google.com/document/d/1Tqs0iZt16U66g-UfJkPdYmF5L_IWPwvl/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica para informes escritos",
    link: "https://docs.google.com/document/d/1pHStvzMO9RLwHJEh1Ux8glehU0OFXyG0/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica para exposiciones orales",
    link: "https://docs.google.com/document/d/15d6js2wIYSZCwc5r13GbJbqORdTT6ww8/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Rúbrica para evaluación valórica",
    link: "https://docs.google.com/document/d/1eQtlCUQ50Y-WXXZpashmmk83EzggzJJR/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Modelo de prueba",
    link: "https://docs.google.com/document/d/1Nj5G_rkxp2QmxcZJ7ZjYTywGLD-mf-LN/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
  {
    name: "Membrete Word Guías",
    link: "https://docs.google.com/document/d/1P34yISDVZ9J_04Jvy1ROS6W6tWo_DldD/edit?usp=drive_link&ouid=111282711492614240440&rtpof=true&sd=true",
  },
];
---

<Layout title="Material Pedagógico">
  <header class="container mx-auto px-4 pt-12 md:pt-0 pb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center my-10">
      <TextTitle
        overTitle="Nuestro"
        title="Material "
        gradientText="pedagógico"
        description="Sigue bajando para descargar una selección de nuestro material pedagógico."
      />
    </div>
  </header>

  <div class="container mx-auto px-4 py-24">
    <div class="py-12">
      <SectionTitle>
        Rúbricas
        <UnderlineText>Institucionales</UnderlineText>
      </SectionTitle>
      <p class="text-center my-6 text-lg">
        Descarga las rúbricas para distintos tipos de actividades
      </p>
    </div>
    <div class="py-12 grid grid-cols-1 gap-4">
      {material.map((m) => <ResourceBadge link={m.link} name={m.name} />)}
    </div>
  </div>

  <div class="container mx-auto px-4 py-12">
    <Footer />
  </div>
</Layout>
