---
import { parseDateTime } from "../utils/dateTimeUtils";
import ShowDate from "./ShowDate.astro";
import ShowTime from "./ShowTime.astro";

interface Props {
  title: string;
  category: string[];
  dateTime: string;
}

const { title, category, dateTime } = Astro.props;
const date = parseDateTime(dateTime).toLocaleDateString("es", {
  day: "numeric",
  month: "long",
});
const time = parseDateTime(dateTime).toLocaleTimeString("es", {
  hour: "numeric",
  minute: "numeric",
});
---

<div
  class="border-2 border-lnsf-light rounded-md px-8 py-6 flex flex-col gap-4 shadow-lnsf h-60 bg-white"
>
  <div class="flex justify-between">
    <ShowDate date={date} />
    <ShowTime time={time} />
  </div>
  <h3 class="text-4xl">{title}</h3>
  <div class="flex gap-2">
    {
      category.map((c) => {
        return (
          <p class="text-lnsf-light-text py-1 px-2 rounded-sm bg-slate-200">
            {c}
          </p>
        );
      })
    }
  </div>
</div>
