---
let bgText = {
  background: "linear-gradient(90deg, #EB00FF 2.29%, #0266FF 95.42%)",
  "-webkit-text-fill-color": "transparent",
  "background-clip": "text",
  "-webkit-background-clip": "text",
  color: "transparent",
  "text-fill-color": "transparent",
};
---

<span style={bgText}>
  <slot />
</span>
