---
interface Props {
  text: string;
  link: string;
}

const { text, link } = Astro.props;
---

<li class="list-none">
  <a
    class="px-4 py-2 rounded bg-lnsf-blue text-white hover:bg-lnsf-yellow hover:text-lnsf-blue transition-all hover:font-bold"
    href={link}
  >
    {text}</a
  >
</li>
