<div class="hidden md:block container mx-auto px-4 py-6">
  <div class="flex justify-between">
    <h2>Logo</h2>
    <nav>
      <ul class="flex gap-2">
        <li>Inicio</li>
        <li>Sobre Nosotros</li>
        <li>Equipo</li>
        <li>Cursos</li>
        <li>Radio Online</li>
        <li>Noticias</li>
      </ul>
    </nav>
  </div>
</div>
