---
import EventCard from "./EventCard.astro";
import { getBlogPost } from "../services/getBlogPosts";

const MAX_POSTS = 3;
const blogPosts = await getBlogPost(MAX_POSTS);
---

<img class="hidden lg:block" src="/activities_img.jpg" alt="" />

<div class="grid grid-cols-1 gap-2 translate-x-0 lg:-translate-x-44">
  {
    blogPosts.map((post, index) => {
      return (
        <div class={index === 1 ? "translate-x-0 lg:-translate-x-14" : ""}>
          <EventCard
            title={post.title}
            category={post.category}
            dateTime={post.dateAndTime}
            link={post.slug}
          />
        </div>
      );
    })
  }
</div>
