---
interface Props {
  time: string;
}

const { time } = Astro.props;
---

<div class="flex gap-2 items-center">
  <div
    class="rounded-full bg-lnsf-blue/20 justify-center items-center flex p-2"
  >
    <img width="15" src="/svgTime.png" alt="" />
  </div>
  <p class="text-lg text-lnsf-blue">{time}</p>
</div>
