---
interface Props {
  number: number;
  text: string;
}

const { number, text } = Astro.props;
---

<div class="text-center p-4">
  <p class="text-6xl text-white font-black">+{number}</p>
  <p class="text-white">{text}</p>
</div>
