<li class="list-none">
  <a
    class="px-4 py-2 rounded bg-lnsf-blue text-white hover:bg-lnsf-yellow hover:text-lnsf-blue transition-all hover:font-bold"
    href="https://lms.lirmi.com"
  >
    Estudiantes</a
  >
</li>
