---
interface Props {
  overTitle: string;
  title: string;
  gradientText: string;
  description: string; 
}

import GradientText from "./GradientText.astro";

const { overTitle, title, gradientText, description } = Astro.props
---

<div>
  <h2 class="text-lnsf-blue">{overTitle}</h2>
  <h1 class="text-5xl md:text-8xl lg:text-9xl font-bold mb-4">
    {title}<GradientText>{gradientText}</GradientText>
  </h1>
  <p class="text-lg md:text-2xl">{description}</p>
</div>
