---
import GradientText from "./GradientText.astro";
---

<div>
  <h2 class="text-lnsf-blue">Formando</h2>
  <h1 class="text-8xl lg:text-9xl font-bold mb-4">
    Líderes del <GradientText>futuro</GradientText>
  </h1>
  <p class="text-2xl">
    Ofrecemos una educación de calidad y un ambiente de aprendizaje inclusivo y
    estimulante.
  </p>
</div>
