<div class="py-2 bg-lnsf-yellow hidden md:block">
  <p class="text-center">
    ¿Estás buscando a una institucion comprometida con la educación? contáctanos
    a <a href="mailto:mateo@liceonibaldo.cl" class="underline"
      >mateo@liceonibaldo.cl</a
    >
  </p>
</div>
